body {    
    background-color: #ddd; /* Background color */
    color: #222;            /* Foreground color used for text */
    font-family: Helvetica; 
    font-size: 14px;
    margin: 0;              /* Amount of negative space around the 
                               outside of the body */
    padding: 0;             /* Amount of negative space around the 
                               inside of the body */
}


#header h1 {
    margin: 0;
    padding: 0;
}
#header h1 a {
    background-color: #ccc;
    border-bottom: 1px solid #666;
    color: #222;
    display: block;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 0;
    text-align: left;
    text-decoration: none;
}
#header ul {
    list-style: none;
    margin: 10px;
    padding: 0;
    list-style:none;
}

#header ul li{
    list-style:none;
}
#header ul li a {
    background-color: #FFFFFF;
    border: 1px solid #999999;
    color: #222222;
    display: block;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: -1px;
    padding: 12px 10px;
    text-decoration: none;
}
#content, #sidebar {
    padding: 10px;
}
#footer {
    display: none;
}
#header h1 a {
    text-shadow: 0px 1px 1px #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, 
                                       from(#ccc), to(#999));
}
#header ul li:first-child a {
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
}
#header ul li:last-child a {
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
}
#header ul.hide {
    display: none;
}

/* Estilos mios*/

/* Estilos para input de nº parada y botones */
.ancho {
    display: block;
    width: 95%;
    overflow: hidden;
}

.input {
    width: 20%;
}

.input input {
    width: 130px;
    height: 30px;
}

.botones {
    width: 80%;
}

.botones .boton1consulta,
.botones .boton2consulta {
    margin-top: 10px;
    width: 128px
}

/* separacion botones menu */
#eldivmenu a {
    margin-right: 0px;
}

/* lista de favoritos */
#listaFavoritos li {
    list-style-type: none;
    margin-bottom: 10px;
}

#listaFavoritos li input{    
    height: 35px;
    line-height: 20px;
}
